/* Dylan Camlis
0710417


1. Center Header

2. 3 column layout

3. Responsive design

4. coloring

color pallet:
light blue
blue violet
*/

/* 1. */
h1 {
    text-align: center;
}

/* 2. */
body {
    width: 960px;
    margin: 0 auto;
    width: 100vw;

}
figure {
    float: left;
    width: 30vw;
    text-align: center;
}
figure img {
    width: 25vw;
    max-width: 100%;
}

p:first-of-type {
    float: left;
    width: 30vw;
}

p:last-of-type {
    float: left;
    width: 40vw;
}

/* 3. */
@media screen and (max-width: 900px) {
    figure,
    p:first-of-type {
        width: 45vw;   
    }

    p:last-of-type {
        width: 100vw;  
        clear: both;  
}
}


@media screen and (max-width: 600px) {
    figure,
    p:first-of-type,
    p:last-of-type {
        float: none;      
        width: 100vw;
        text-align: center;
    }

    figure img {
        width: 80vw;       
    }

    body {
        width: 100vw;
    }
}

/* 4. */

figure {

    background-color: lightblue;
}

p:first-of-type{
    background-color: blueviolet;
}