/* Dylan Camlis
0710417


1. Center Header

2. 3 column layout

3. Responsive design
*/

/* 1. */
h1 {
    text-align: center;
}

/* 2. */
body {
    width: 960px;
    margin: 0 auto;
    width: 90%;

}
figure {
    float: left;
    width: 30%;
    text-align: center;
}
figure img {
    width: 100%;
}

p:first-of-type {
    float: left;
    width: 30%;
}

p:last-of-type {
    float: left;
    width: 40%;
}

/* 3. */
@media screen and (max-width: 900px) {
    figure,
    p:first-of-type {
        width: 45%;   
    }

    p:last-of-type {
        width: 100%;  
        clear: both;  
}
}


@media screen and (max-width: 600px) {
    figure,
    p:first-of-type,
    p:last-of-type {
        float: none;      
        width: 100%;
        text-align: center;
    }

    figure img {
        width: 80%;       
    }

    body {
        width: 100%;
    }
}

/* 4. */

figure {

    background-color: lightblue;
}

p:first-of-type{
    background-color: blueviolet;
}